.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.header h1 {
  font-size: 3rem;
  color: wheat;
}

@media screen and (max-width: 992px) {
  .header {
    margin-bottom: 5vh;
  }
  .header h1 {
    font-size: 2rem;
  }
}
